.container {
    width: 800px;
    margin: 0 auto;
}

.title{
    font-size: 1.9em;
    margin: 20px 0;
}

table {
    border-collapse: collapse;
    border: solid 2px #999999;
    width: 600px;
    margin: 0 auto;
    font-size: 1.7em;
}
thead tr th {
    text-align: center;
    border-bottom: solid 2px #000000;
    border-left: solid 2px #000000;
}

tr td,
tr th {
    border: dotted 1px #999999;
}

td{
    text-align: center;
}

tfoot tr td {
    text-align: center;
    border-top: solid 2px #000000;
}
.cor {
    background: red;
}
.cor_ {
    background: gold;
}
